*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    color: #333;
}

p {
    color: #70747A;
}

.top-contact{
    background-color: #09099b;
    height: 30px;
    width: 100%;
    position: relative;
}

.top-contact address{
    color: #fff;
    padding:0 4em;
    display: inline-block;
    margin: 0 50px;
    
    
}

.header-nav {
    height: 80px;
    width: 100%;
    background-color: #3366ff; 
    position: relative;
    
  
}

.header-nav ul{
    /*colocar a lista para o lado direito-- */
    position: absolute;
    
    

}

.header-nav li{
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    
}

.header-nav a {
    color: #fff;
    text-decoration: none;
}

.sobre{
    margin: 50px 0 50px 0;
    border-top: 3px solid #3366ff;
    border-bottom: 3px solid #3366ff;
}